#teamsTable
  %h1 Listing teams

  %table.table.table-striped
    %thead.thead-dark
      %tr
        %th{:colspan => 4} Team Name

    %tbody
      - @teams.each do |team|
        %tr
          .teamName
            %td= team.teamName
          .linkTag
            %td= link_to 'Show', team
            %td= link_to 'Edit', edit_team_path(team)
            %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = button_to 'New Team', new_team_path, :method => :get, :class => "btn btn-primary"
