%p#notice= notice

%p
  %b Teamid:
  = @team.teamId
%p
  %b Teamname:
  = @team.teamName
%p
  %b Gamesplayedid:
  = @team.gamesPlayedId
%p
  %b Gamestobeplayedid:
  = @team.gamesToBePlayedId

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
