#showUserTeam
  .wrapper
    %tbody
      %tr
        - if @userTeams.count == 0
          =image_tag ('https://i.pinimg.com/originals/24/86/51/2486517534aa0b0d175c18c343e50d82.jpg'), :class => "img_class"
          %br
          %br
          %p You haven't subscribed any team yet, pick your favourite team to subscribe to!
          %p= button_to "Available Teams", teams_Index_path, :method => :get, class: "btn btn-primary"
        -else
          - @userTeams.each do |team|
            .teamName
              -# %td= team.teamName
              %td=link_to team.teamName, home_search_path(:linkToApiId => team.apiId)
            .linkTag
              %td= link_to 'Relavant Game', game_path(:id => Game.where(homeTeamName: team.teamName).or(Game.where(awayTeamName: team.teamName)).ids)
              %td= link_to 'Show', team
              %td= link_to 'Edit', edit_team_path(team)
              %td= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }
    .push
  .footer