%p#notice= notice

%p
  %b
    =t('.teamName')
  = @team.teamName
  %b
    =t('.apiId')
  = @team.apiId

= button_to 'Edit', edit_team_path(@team), :method => :get, class: "btn btn-primary"
= button_to 'Back', teams_path, :method => :get, class: "btn btn-primary"
%br
%br