.wrapper
  #homeSearch
    %section.jumbotron.text-center
      .container
        .logo
          =image_tag(@team['logo'])
        %h1.jumbotron-heading
          =@team['fullName']
        %dl
          %dt Team ID
          %dd= Team.find_by(teamName: @team['fullName']).id
          %dt NBA Franchise
          %dd= @team['nbaFranchise']
    .teamStandings
      %h1.jumbotron-heading
        Team Standings
      %h4
        -# Wanted to store team ID as a variable ':teamId' and pass it to controller to use, but unsuccessful
        -# %a{ href: "seasonSearch", :teamId => @team['teamId']} Season #{@year} 
        Season #{@year} 
      %dl 
        %dt Win
        %dd= @teamStandings["api"]["standings"][0]["win"]
        %dt Loss
        %dd= @teamStandings["api"]["standings"][0]["loss"]
        %dt Conference: #{@teamStandings["api"]["standings"][0]["conference"]["name"]}
        %dd= "Ranking: #{@teamStandings["api"]["standings"][0]["conference"]["rank"]}"
        %dt Win Percentage:
        %dd= @teamStandings["api"]["standings"][0]["winPercentage"]
        %dt Loss Percentage:
        %dd= @teamStandings["api"]["standings"][0]["lossPercentage"]
        %dt Games Behind:
        %dd= @teamStandings["api"]["standings"][0]["gamesBehind"]
        %dt Last Ten Win:
        %dd= @teamStandings["api"]["standings"][0]["lastTenWin"]
        %dt Last Ten Loss:
        %dd= @teamStandings["api"]["standings"][0]["lastTenLoss"]
        %dt Win Streak:
        %dd= @teamStandings["api"]["standings"][0]["winStreak"]

    .roster
      %table.table.table-striped
        %thead.thead-dark
          %tr
            .teamRosterHeader
              %td=t(".playerName")
              %td=t(".position")
              %td=t(".jerseyNumber")
        - @player["api"]['players'].each do |player|
          %tbody
            %tr
              %td #{player['firstName']} #{player['lastName']}
              %td #{player['leagues'].first[1]["pos"]}
              %td ##{player['leagues'].first[1]["jersey"]}

  .push
.footer
              
        