#timeTable
  %h1 
    =t('.title')

  - @games.each do |game|
    %table.table.table-striped
      %thead.thead-dark
        %tr
          %th{:colspan => 5}=game.gameDate

      %thead.thead-dark
        %tr    
          %th 
            =t('.homeTeamName')
          %th
            =t('.homeTeamScore')
          %th
          %th
            =t('.awayTeamScore')
          %th
            =t('.awayTeamName')          
          -# %th
          -# %th

      %tbody
        %tr
          %td= game.homeTeamName
          -# %td= game.gameWinnerId
          %td= game.homeTeamScore
          %td= ":"
          %td= game.awayTeamScore
          %td= game.awayTeamName
        %tr
          %td{:colspan => 5}= link_to 'More', game
          -# %td= link_to ' Edit ', edit_game_path(game)
          -# %td= link_to ' Destroy ', game, method: :delete, data: { confirm: 'Are you sure?' }
      %br

  = button_to 'New Game', new_game_path, :method => :get, :class => "btn btn-primary"
