
%p
  %b 
    =t('.homeTeamName')
  = @game.homeTeamName
%p
  %b 
    =t('.awayTeamName')
  = @game.awayTeamName
%p
  %b 
    =t('.gameWinnerId')
  = @game.gameWinnerId
%p
  %b 
    =t('.homeTeamScore')
  = @game.homeTeamScore
%p
  %b 
    =t('.awayTeamScore')
  = @game.awayTeamScore
%p
  %b 
    =t('.gameDate')
  = @game.gameDate

= button_to 'Edit', edit_game_path(@game), :method => :get, class: "btn btn-primary"
= button_to 'Back', games_path, :method => :get, class: "btn btn-primary"


%br
%br
%br
