-# Corresponding syntax of email sent, will take in parameter from contact form and put in to each corresponding field
%p= "Dear #{t('app_title')},"
%p= "Could you get in touch with me please? the email is following:"
%dl
    %dt Name:
    %dd= @name
    %dt NBA Pass Code:
    %dd= @nbaPassCode
    %dt Email:
    %dd= @email
    %dt Telephone:
    %dd= @telephone

%p= @message

%p Thanks,
%p= @name